<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:zksp="http://www.zkoss.org/2008/zkspring/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-5.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-5.0.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-5.0.xsd
                            http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd">

  <context:component-scan base-package="net.andresbustamante.zktest"/>

  <context:property-placeholder location="classpath:config.properties"/>

  <mvc:annotation-driven/>

  <zksp:zk-config/>

</beans>