<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
	http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd
	http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

  <context:component-scan base-package="net.andresbustamante.yafoot"/>

  <context:property-placeholder location="classpath:config.properties"/>

  <mvc:annotation-driven/>

  <!-- Configuration JDBC + MyBatis -->
  <jee:jndi-lookup id="dataSource" jndi-name="${jdbc.jndi.name}" resource-ref="false"/>

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
    <property name="rollbackOnCommitFailure" value="true"/>
  </bean>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configLocation" value="classpath:mybatis-config.xml"/>
  </bean>

  <mybatis:scan base-package="net.andresbustamante.yafoot.dao" factory-ref="sqlSessionFactory"/>

  <!-- Configuration LDAP -->
  <ldap:context-source url="${ldap.url}" username="${ldap.dn}" password="${ldap.password}"/>

  <ldap:ldap-template id="ldapTemplate"/>
</beans>